/* Generic elements */

body {
	margin: 0 auto;
}

a {
	text-decoration: none;
}

h1 {
	
}

header {
	position: fixed;
	width: 100%;
	z-index: 1030;
}

footer {
	background: #000000;
	margin-top: 50px;
	padding: 30px;
}

/* Navigation bar */
nav {
	background: #000000;
	overflow: auto;
	padding: 10px;
}

nav img {
	float: left;
}

nav h1 {
	float: left;
	font-family: 'Century Gothic';
	font-size: 1.6em;
	font-weight: 400;
	margin: 3px 0 0 10px;
}

nav a {
	color: white;
}

nav ul {
	float: right;
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	position: relative;
}

nav ul li {
	display: inline;
	margin: 0 20px 0 0;
}

nav ul li a, footer a {
	color: #DDDDDD;
	font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
	font-size: 0.875em;
	font-weight: 400;
}

nav ul li a {
	padding-bottom:15px;
}

nav ul li a:hover, footer a:hover {
	color: #FFFFFF;
	transition: 0.3s ease-in-out;
}

nav ul li a:hover {
	border-bottom: 4px #D00F1A solid;
}

/* Sidebar */
#sidebar {
	background: #d3d3d3;
	float: left;
	margin-top: 100px;
	position: relative;
	width: 20%;
}

#sidebar ul {
	padding: 0;
	margin: 0;
}

#sidebar ul li a {
	color: #000000;
	display: block;
	font-size: 1em; /* 18px/16px */
	font-weight: 100;
	list-style: none;
	margin: 0;
	padding: 7.40740740741%; /* 20px/148px */
}

#sidebar ul li a:hover {
	background: #ededed;
}

.date {
	color: #D00F1A;
	font-size: 0.75em;
	font-weight: 400;
	margin-bottom: 0;
}

#first-entry {
	margin-top: 0;
}

#last-entry {
	margin-bottom: 0;
}

#toggle-bar {
	background: #D00F1A;
	color: #FFFFFF;
	padding: 10px;
	position: absolute;
	right: -29px;
	top: 0;
}

#toggle-bar:hover {
	background: #910a12;
	cursor: pointer;
}

#plus {
	display: none;
	height: 10px;
	width: 10px;
}

/* Content */
#content {
	margin: 0 auto;
	padding: 80px 0 0 0;	
	position: relative;
}

#content h1 {
	font-family: Helvetica;
	font-weight: 900;
	margin-top: 15px;
}

#tags {
	margin: 0;
	padding: 0;
}

#tags li {
	display: inline;
}

#tags li a {
	background: #D00F1A;
	border-radius: 2px;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 0.75em;
	padding: 5px;
}

#tags li a:hover {
	background: gray;
}

#content h3 {
	color: gray;
	font-style: italic;
	font-size: 0.875em;
	font-weight: 400;
}

#twitter {
	color: #7598c9;
}

#twitter:hover {
	opacity: 0.8;
}
#content img {
	background-size: 100%;
	background-position: center;
	max-width: 100%;
	width: 100%;
}

#content #image p {
	background: #D00F1A;
	color: #FFFFFF;
	font-size: 0.75em;
	margin: 0;
	padding: 5px;
}

#content #text p {
	color: #3d3b3b;
	font-family: Georgia;
	font-size: 1.125em; /* 20px/16px */
	font-weight: 100;
	line-height: 2.0em;
}

/* Social share */
#social-share {
	bottom: 450px;
	position: fixed;
	right: 0px;
	top: auto;
	width: 120px;
}

#social-share ul li {
	list-style: none;
}

#social-share ul li a {
	background: #D00F1A;
	border-radius: 2px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	font-size: 0.875em;
	padding: 5px;
	text-align: center;
}

#social-share ul a:hover {
	background: #910a12;
}

/* Sign up */
#signup {
	background: #fcf8e3;
	border: 1px solid #faebcc;
	padding: 30px;
	text-align: center;
}

#signup h4 {
	color: #8a6d3b;
	font-family: Helvetica;
	margin: 0 0 10px 0;
}

#signup input[type="text"] {
	box-shadow: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	font-size: 0.875em;
	height: 37px;
	padding: 6px 12px;
	width: 180px;
}

#signup input[type="text"]:focus {
	border: 1px red solid;
	transition: 0.1s ease-in-out;
	outline: 0;
}

#signup button {
	background: #5cb85c;
	border: 1px solid #398439;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 0.875em;
	letter-spacing: 0.5px;
	padding: 10px;
}

#signup button:hover {
	background: #47a447;
}


/* Footer */
footer ul {
	font-size: 0.75em;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center
}

footer ul li {
	display: inline;
	margin: 0;
	margin-right: 10px;
}

/* Mobile Menu */
#mobile-icon button{
	background: none;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px;
}

#mobile-icon button:hover {
	background: #333333;
}

#mobile-icon button:focus {
	outline: 0;
}

#mobile-menu {
	display: none;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	overflow: hidden;
	padding: 0;
}

#mobile-menu ul {
	float: left;
	margin: 0;
	padding: 0;
}

#mobile-menu ul li {
	border-bottom: 1px white transparent;
	display: list-item;
	padding: 5px 0 10px 15px;
	width: 100%;
}

#mobile-menu a:hover {
	border: none
}

