body {
	margin: 0 auto;
}

footer {

}

/* Navigation bar */
nav {
	background: #D00F1A;
	margin-bottom: 20px;
	padding: 10px;
}

nav a {
	color: white;
	text-decoration: none;
}

/* Sidebar */
.sidebar {
	background: #d3d3d3;
	border-radius: 2px;
	float: left;
	overflow: auto;
	width: 20%;
}

.sidebar ul {
	padding: 0;
	margin: 0;
}

.sidebar ul li {
	list-style: none;
	margin: 0;
	padding: 7.40740740741%; /* 20px/148px */
}

.sidebar ul li:hover {
	background: #ededed;
}

.sidebar ul li a {
	color: #000000;
	font-size: 1em; /* 18px/16px */
	text-decoration: none;
}

#first-entry {
	margin-top: 0;
}

#last-entry {
	margin-bottom: 0;
}

/* Content */
.content {
	margin: 0 auto;
	width: 50%;
}

.content h1 {
	font-family: Helvetica;
	font-weight: 900;
}

.content p {
	font-family: Georgia;
	font-size: 1.25em; /* 20px/16px */
	font-weight: 100;
	line-height: 1.5em;
}
